button{
    box-shadow: #aaa 1px 1px 3px;
    padding-left:8px;
    padding-right:8px;
    outline: none;
    border:none;
    border-left: rgba(160,160,160,0.4) 1px solid;    
    -webkit-transition: 200ms;
    box-sizing: border-box;
    line-height: 2em;
    color:white;
    cursor:default;
    border-radius:2px;
    display: inline-block;
    font-family:"Consolas","Droid Sans","Microsoft YaHei","Microsoft YZhengHei","DejaVu Sans Mono","WenQuanYi MicroHei";
}

button:hover{
    box-shadow: #888 1px 1px 6px;
    box-sizing: border-box;
    -webkit-transition: 0ms;
    cursor:pointer;      
}

button:focus{
    box-shadow: #888 1px 1px 6px;
    box-sizing: border-box;    
}

button.default{
    background-color: white;
    color: #222 !important;
}

button.primary{
    background-color: #428bca;
}

button.success{
    background-color: #5cb85c;
}

button.info{
    background-color: #5bc0de;
}

button.warning{
    background-color: #f0ad4e;
}

button.danger{
    background-color: #d9534f;
}