/*add on style*/
#test {
  width: 350px;
}
.ui-autocomplete {
  z-index: 9999;
}
.ui-autocomplete .ui-input {
  display: block;
  height: 3em;
  width: 100%;
}
.ui-autocomplete div.ui-label {
  position: relative;
  z-index: 10000;
  width: 100%;
  margin: 0;
  display: none;
  background-color: #fff;
  border: 1px #000 solid;
  overflow: hidden;
}
.ui-autocomplete div.ui-label dl.ui-item {
  height: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}
.ui-autocomplete div.ui-label dl.ui-item:hover {
  background-color: blue;
  color: white;
}
.clearfix:after {
  display: block;
  visiblity: hidden;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
