@font-face{
    font-family: "Audiowide";
    src: url("fonts/Audiowide.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Bad-Script";
    src: url("fonts/Bad-Script.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Coda";
    src: url("fonts/Coda.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Comfortaa";
    src: url("fonts/Comfortaa.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Dosis";
    src: url("fonts/Dosis.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Droid-Sans-Mono";
    src: url("fonts/Droid-Sans-Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Droid-Sans";
    src: url("fonts/Droid-Sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Droid-Serif";
    src: url("fonts/Droid-Sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Exo";
    src: url("fonts/Exo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Galdeano";
    src: url("fonts/Galdeano.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Josefin-Sans";
    src: url("fonts/Josefin-Sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Maven-Pro";
    src: url("fonts/Maven-Pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Maven-Pro";
    src: url("fonts/Maven-Pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Merriweather-Sans";
    src: url("fonts/Merriweather-Sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Noto-Serif";
    src: url("fonts/Noto-Serif.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Oxygen";
    src: url("fonts/Oxygen.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Pinyon-Script";
    src: url("fonts/Pinyon-Script.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Poiret-One";
    src: url("fonts/Poiret-One.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Tangerine";
    src: url("fonts/Tangerine.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Trykker";
    src: url("fonts/Trykker.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Ubuntu-Mono";
    src: url("fonts/Ubuntu-Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}