<link rel="import" href="../polymer/polymer.html" />
<script src="./codemirror/lib/codemirror.js"></script>
<script src="./codemirror/mode/javascript/javascript.js"></script>

<polymer-element name="code-pad" attributes="mode theme">
    <template>
        <style>
        #codepad .CodeMirror, #codepad pre{
            font-family: "Consolas";
        }
        </style>
        <link rel="stylesheet" href="./codemirror/lib/codemirror.css"/>
        <link rel="stylesheet" href="./codemirror/theme/night.css" id="theme"/>
        <div id="codepad"></div>
    </template>
    <script>
    var that = this;
    Polymer('code-pad',{
        Value:"",
        ready:function(){
            var cm = CodeMirror(this.$.codepad,{
                value:this.Value,
                lineNumbers:true,
                mode:"text/javascript",
                theme:this.theme
            });
        }
    });
    </script>
</polymer-element>